<div class="parallax"></div>

<div class="jumbotron quotes">
  <h1 class="text-center">"If you think you can do a thing or think you can't do a thing, you're right."</h1>
  <p class="text-right name">
    ~ Henry Ford
  </p>
</div>

  <div class="row blocks" [@blockPhotos]>
      <img class="block1 col-xs-12 col-sm-4" src="../assets/yuvraj-singh-425756-unsplash.jpg" />
      <img class="block2 col-xs-12 col-sm-4"src="../assets/jacob-spence-392804-unsplash.jpg"  />
      <img class="block3 col-xs-12 col-sm-4" src="../assets/david-straight-37577-unsplash.jpg" />
  </div>

<div class="jumbotron quotes">
  <h1 class="text-center">"Imagination is more important than knowledge."</h1>
  <p class="text-right name">
    ~ Albert Einstein
  </p>
</div>
<div class="parallax2"></div>
